[submodule "ebmorran.github.io/hugo-profile"]
	path = ebmorran.github.io/themes/hugo-profile
	url = https://github.com/gurusabarish/hugo-profile.git
[submodule "ebmorran.github.io/themes/hugo-profile"]
	path = ebmorran.github.io/themes/hugo-profile
	url = https://github.com/gurusabarish/hugo-profile.git
[submodule "themes/hugo-profile"]
	path = themes/hugo-profile
	url = https://github.com/gurusabarish/hugo-profile.git
